@import url('https://fonts.googleapis.com/css2?family=Holtwood+One+SC&display=swap');

.heading {
  background-color: tomato;
  padding: 2rem;
  height: 300px;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 3rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  max-width: 1200px;
  justify-items: center;
  margin: 0 auto;

  background-color: #fff;
  margin-bottom: 3rem;
  padding: 1rem;
}

.sports-item {
  position: relative;
  background-color: rgb(196, 196, 196);
  margin: 1rem;
  font-family: 'Holtwood One SC', serif;
}

.sports-item h2 {
  position: absolute;
  left: 10px;
  color: #fff;
  letter-spacing: 0.25rem;
  font-weight: bold;
  font-size: 1.5rem;
}

.sports-item h5 {
  color: slategray;
  font-size: 0.75rem;
  text-align: center;
}

@media screen and (max-width: 599px) {
  .sports-listings {
    width: 80%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 900px) and (min-width: 600px) {
  .grid-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 1999px) and (min-width: 901px) {
  .grid-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
